@media (min-width: 768px){
    .bg-info{
        position: sticky;
        top: 0;
        z-index: 1071;
    }
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

div#cab1 {}
div#cab2{
    background: url('../images/cabecera.jpg');
    background-color: #34cccc;
    background-position: center;
    background-attachment: scroll;
}
div#cab3 {}
div#cab4 {}
div#cab5 {}

