/* Clases auxiliares */
/*--------------------------------------------------------------*/
.lobster {
    font-family: 'Lobster', cursive;
}
.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.inter-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* Elementos */
/*--------------------------------------------------------------*/
#portada {
    height: 100vh;
}
#portada > div > nav a {
    color: #f7f7f7 !important;
}
#portada > div > nav a:hover {
    color: #ebae34 !important;
}

#galeria {
    background-color: #343434; /* gris oscuro */
}

#videos {
    background-color: #8454ab; /* Morado */
}

#contacto {
    background-color: #ebae34; /* amarillo */
}

.album .card {
    /* max-height: 400px; */
}
.album img {
    object-fit:cover; /* ajusta la imagen al contenedor */
    max-height: 400px;
    overflow: hidden; /* esconde la parte de la imagen que sobresalga del contenedor */
}


/* Media queries */
/*--------------------------------------------------------------*/
/* sm size */
@media (max-width: 550px){
    #portada {
        background: url(./img/portada-sm.jpg) no-repeat center top, #000000;
    }
}
/* md size */
@media (min-width: 550px){
    #portada {
        background: url(./img/portada-md.jpg) no-repeat center top, #000000;
    }
}
/* lg-size */
@media (min-width: 950px){
    #portada {
        background: url(./img/portada-lg.jpg) no-repeat center top, #000000;
    }
}
/* xl-size */
@media (min-width: 1400px){
    #portada {
        background: url(./img/portada-xl.jpg) no-repeat center top, #000000;
    }

}
