.pink {
    background-color: #DB2777;
}
.red {
    background-color: #DC2626;
}
.yellow {
    background-color: #FBBF24;
}
.orange {
    background-color: #D97706;
}
.green {
    background-color: #42f548;
}
.teal {
    background-color: #10B981;
}
.purple {
    background-color: #6D28D9;
}
.indigo {
    background-color: #4F46E5;
}

.numero-mayor {
    border: 2px solid #DC2626;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 0.5em;
}
