/* Colores extra */
.bg-huevo {
    background-color: #ed9624;
}
.bg-bermejo {
    background-color: #ed2482;
}
.huevo {
    color: #ed9624;
}
.bermejo {
    color: #ed2482;
}
/* Clases auxiliares */
.brand {
    font-weight: bold;
    font-size: 1.5em;
}
.mq-xxl {
    max-width: 1440px;
}
.producto {
    max-width: 500px;
}
.producto-img {
    max-height: 250px;
    max-width: 250px;
}
.site-title {
    font-family: 'Courgette', cursive;
}
.site-subtitle {
    font-size: 1.5em;
    text-align: right;
}
/* Elementos */
body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}
body .dialog {
    padding-left: 6em;
}
nav a, footer {
    font-weight: 400;
}
nav div.navbar-brand a {
    font-weight: 700;
}

footer {
    font-size: 0.8em;
}
