/* Colores extra */
.bg-huevo {
    background-color: #ed9624;
}
.bg-bermejo {
    background-color: #ed2482;
}
.huevo {
    color: #ed9624;
}
.bermejo {
    color: #ed2482;
}
body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}
body .dialog {
    padding-left: 6em;
}

nav a, footer {
    font-weight: 400;
}
nav div.navbar-brand a {
    font-weight: 700;
}

.site-title {
    font-family: 'Courgette', cursive;
}
.brand {
    font-weight: bold;
    font-size: 1.5em;
}
.site-subtitle {
    font-size: 1.5em;
    text-align: right;
}
footer {
    font-size: 0.8em;
}
