/* Importar tipografía de google font para encabezados */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* clases de control de display (grid, colores, elementos destacados)*/

.destacados {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.destacado {
    margin: 1.5em;
    width: 500px;
    height: 530px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.destacado img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.amarillo { 
    background:#DCF2B0;
}

.verde {
    background:#C2EABD;
}

.pastel {
    background:#C7AC92;
}

.rojo {
    background:#CD533B;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    margin: 1.5em;
    width: 300px;
    height: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.texto {
    text-align: center;
}

/* imágenes */
.cover {
    max-width: 1368px;
    object-fit: cover;
}

/* ELEMENTOS DE USO GENERAL */

article.promociones {
    display: flex;
    text-align: center;
    background: pink;
    padding: 1em;
    margin: 1em;
}

blockquote {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background: #CD533B;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: Montserrat;
}

h1.titulo {
    color: #C0BABC;
    font-size: 3em;
}

h2.subtitulo {
    color: #C0BABC;
    font-style: italic;
    font-size: 1.5em;
    margin-top: -1.2em;
}

/* SECCIONES */

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0;
    /* Tipografías */
    font-family: Roboto;
}
div.carrusel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
}

header {
    background: #202020;
}

nav {
    background: #5c595a;
}

nav * {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;

    padding: 3px;
    margin-bottom: -1px;
}

nav a {
    color: #C0BABC;
    text-decoration: none;
    font-family: Montserrat;
}

nav a:hover{
    color: white;
}

nav.nav-secundario {
    background: #2c292a; /* color no incluido en la guía */
    margin-top: -20px;
}

section.contenido{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    padding-bottom: 2em;
    max-width: 1000px;
}

section.titulo_seccion h1 {
    font-size: 3em;
}
iframe {
    display:block;
    margin: auto;
    padding: 1em 1em 3em 1em;
}

/* MEDIA QUERIES */

/* Diseño para tablets */
@media (max-width: 768px){
    article.promociones {
        flex-flow: row wrap;
        padding: none;
    }
    body {
        width: 768px;
        font-size: 3em;
    }
    footer {
        flex-flow: row wrap;
    }
    .grid {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .grid-item {
        width: 100%;
        height: 60%;
        margin-left: -0.5em;
    }
}

/* Diseño para móviles */
@media (max-width: 480px){}
