aside blockquote {
    border: 2px solid black;
    padding: 1em;
}

aside blockquote:nth-child(odd) {
    background: #eea5a5;
}

aside blockquote:nth-child(even) {
    background: #a5aaee;
}

ul, ul li {
    margin: 0;
    padding: 1em;
    list-style: none;
}

h1, h2, h3, p, form {
    margin: 0;
    padding: 1em;
}

.clear {
    clear: both
}

#contenedor {
    width: 90%;
    max-width: 900px;
    width: expression(document.body.clientWidth > 901? "900px":"auto");
    margin: 0 auto
}

/* #contenedor > header, aside, section, #contenedor > footer, article { */
/*     border: 2px solid #777 */
/* } */

#contenedor > header:first-child {
    float: right;
}

section > article header {
    width: 100%;
}

section > article:nth-of-type(1) header > h1 {
    background: #a5eed2;
}
section > article:nth-of-type(2) header > h1 {
    background: #eed7a5;
}

header {
    /* width: 100%; */
    float: left;
    clear: both;
}

article {
    padding: 1em;
}

nav {
    background: #85b9f5;
    clear: both;
    padding-bottom: 2em;
    border-top: 3px solid #024592;
    border-bottom: 3px solid #024592;
}

nav a {
    text-decoration: none;
}

section {
    float: left;
    width: 78%
}

aside {
    float: right;
    width: 20%
}


footer {
    clear: both
}

#contenedor > footer p::first-letter {
    color: #ff0000;
}

/* Color de fondo texto "comentarios (0)"*/
article footer p {
    font-style: italic;
    padding-left: 0;
}

nav ul li {
    display: inline;
    float: left;
    background: #85b9f5;
    margin-top: -0.5em;
}

