body {
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b9babc' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div.container > div.row:first-child > div.col-md:first-child {
    margin-left: 18% !important;
}
div.container > div.row:first-child > div.col-md:nth-child(2) {
    margin-right: 18% !important;
}
